.section-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: 0 auto;

  & > :nth-child(1) {
    padding-bottom: 12px;
  }

  & > :nth-child(2) {
    font-size: 48px;
    padding-bottom: 24px;
  }

  & > :nth-child(3) {
    padding-bottom: 40px;
    font-size: 20px;
    text-align: center;
    color: var(--color-subtext);
  }

  &__form {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    column-gap: 1rem;
    row-gap: 0.5rem;

    a {
      text-decoration: underline;
    }
  }
}

.section-recent-posts {
  &__content {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 444px;
    column-gap: var(--column-gap);
  }
}