@use '../../styles/media' as m;

.postPage {
  display: grid;
  grid-template-columns: 284px 1fr;
  column-gap: var(--column-gap);

  @include m.tablet {
    grid-template-columns:  1fr;
    & > :nth-child(2) {
      grid-row-start: 1;
    }
  }

  .sectionRecentPosts {
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);

    .content {
      display: grid;
      grid-auto-rows: auto;
      row-gap: var(--row-gap);

      @include m.tablet {
        grid-template-columns: repeat(2, auto);
        column-gap: var(--column-gap);
      }
      @include m.mobile {
        grid-template-columns: 1fr;
      }
    }
  }

  .sectionPostDetails {
    display: flex;
    flex-direction: column;

    .date {
      display: flex;
      justify-content: space-between;
      gap: 8px;
      flex-wrap: wrap;
    }

    .tags {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem;
    }
  }
}
