@import "mixins";

body {
  background-color: var(--background-color);
}

.app {
  font-family: var(--font-family), sans-serif;
  color: var(--font-color);
}

h1 {
  @include fluid-text(72, 235);
}

h2 {
  @include fluid-text(24, 36);
}

h3 {
  @include fluid-text(20, 24);
}

label {
  color: var(--font-color) !important;
  background-color: var(--background-color) !important;
}

input {
  background-color: var(--background-color) !important;
  border: 1px solid var(--color-gray) !important;
  border-radius: var(--border-radius) !important;
  color: var(--font-color) !important;
  padding: 0 1rem !important;
  height: 48px !important;
  width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

.page {
  height: 100%;
  padding-top: var(--nav-bar-height) !important;
}

.container {
  max-width: var(--container-max-width);
  padding-inline: var(--container-inline-padding);
  margin: 0 auto;
}

.badge {
  font-size: var(--badge-font-size);
  color: var(--color-secondary);
  font-weight: 600;
}

.error {
  color: red;
  font-weight: 500;
  font-size: 20px;
}

.input-error {
  color: red;
  font-weight: 500;
  font-size: 14px;
}

.success {
  color: limegreen;
  font-weight: 500;
  font-size: 20px;
}

.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #000;
  box-shadow: 0 0 0 0 #0004;
  animation: l2 1.5s infinite linear;
  position: relative;
}


.account-layout {
  display: grid;
  grid-template-columns: 200px 1fr;
  column-gap: var(--column-gap);
}

.section {
  padding-block: var(--section-padding);
  display: flex;
  flex-direction: column;
  row-gap: var(--row-gap);
}

.section-hero {
  &__title-wrapper {
    border-top: 1px solid var(--color-gray);
    border-bottom: 1px solid var(--color-gray);

    h1 {
      line-height: 1.1;
      text-align: center;
      word-break: break-all;
    }
  }
}
