@use "src/styles/variables" as *;

.admin-layout {
  display: grid;
  grid-template-columns: 240px 1fr;
}

.admin-nav {
  padding: 1rem;
  border-top: 1px solid var(--color-gray);
  border-right: 1px solid var(--color-gray);
  border-bottom: 1px solid var(--color-gray);

  &__element {
    display: flex;
    flex-direction: column;
    gap: 6px;

    & p {
      font-size: var(--font-size-small);
      color: var(--color-subtext);
      font-weight: bold;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}