.post {
  display: grid;
  height: 100%;
  width: 100%;

  max-height: 444px;

  column-gap: var(--column-gap);
  row-gap: var(--row-gap);

  overflow: hidden;

  transition: all 0.05s ease;

  &:hover {
    transform: scale(1.02);
  }

  &:hover &__image-wrapper {
    border-radius: 85px 10px 10px 10px;
  }

  .imageWrapper {
    transition: all 0.5s ease;

    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 24px;
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .truncate {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  .text {
    color: var(--color-subtext);
    -webkit-line-clamp: 2;
  }


  .tagList {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
  }
}

.landscape {
  grid-template-columns: repeat(2, 1fr);
}

.portrait {
  grid-template-rows: repeat(2, auto);
}

