.form-add {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.get-posts {
  display: flex;
  flex-direction: column;
  gap: 24px;

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    //grid-auto-rows: 470px;
    row-gap: var(--row-gap);
    column-gap: var(--column-gap);
  }
}
