.toggle {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  background-color: var(--font-color);

  transition: background-color 0.4s;

  .sun path {
    fill: var(--background-color);
  }

  .moon path {
    fill: var(--background-color);
  }
}

.active {
  flex-direction: row-reverse;
}
