.toggle {
  display: flex;
  gap: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 30px;
  background-color: var(--font-color);

  transition: background-color 0.4s;

  &__sun path {
    fill: var(--background-color);
  }

  &__moon path {
    fill: var(--background-color);
  }

  &--is-active {
    flex-direction: row-reverse;
  }
}
