.sectionAboutMe {
  .img {
    width: 100%;
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: var(--row-gap);
  }
}

.contentItem {
  display: flex;
  flex-direction: column;
  row-gap: 12px;

  ul {
    padding-left: 1rem;
  }
}